$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

.font-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

